<h1>Produtos</h1>
<div class="form-container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Marca</th>
                <th scope="col">Caracteristica</th>
                <th scope="col">Cor</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Valor de etiqueta</th>
                <th scope="col">Valor de compra</th>
                <th scope="col">Margem de 100%</th>
                <th scope="col">Preço sugerido</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Deletar</th>
                <th scope="col">Editar</th>
                <th scope="col">Movimentar</th>
              </tr>
            </thead>
            <tbody ng-repeat="x in vm.lista_back track by x._id">
              <tr>
                <td>{{x.name}}</td>  
                <td>{{x.type}}</td>  
                <td>{{x.brand}}</td>  
                <td>{{x.characteristic}}</td>  
                <td>{{x.color}}</td>  
                <td>{{x.size}}</td>  
                <td>{{x.purchaseTagPrice}}</td>  
                <td>{{x.purchasePrice}}</td>  
                <td>{{x.hundredPercentPrice}}</td>  
                <td>{{x.suggestedPrice}}</td>  
                <td>{{x.stockQuantity}}</td> 

                <td><button class="btn btn-primary" ng-click="vm.DeleteProduct(x._id)">Deletar </button></td>
                <td><button class="btn btn-danger" ng-click="vm.EditProduct(x._id)">Editar</button></td>
                <td><button class="btn btn-success" ng-click="vm.CreateTrasact(x._id)">Movimentar</button></td>
              </tr>
            </tbody>
          </table>
    
</div>
