<div class= "form-container">
  <h2> Movimentar Estoque </h2>
  <table class="table">
    <form>
      <div class="form-group">
        <label for="Produto">Produto</label>
        <input type="text" class="form-control" id="Produto" ng-model="vm.transact.productId"readonly ><br>
        <label for="Quantidade">Quantidade</label>
        <input type="number" class="form-control" id="Quantidade" ng-model="vm.transact.quantity"><br>
        <label for="Tipo"> Tipo </label>
        <select id="tipo" ng-model="vm.transact.transact" >
          <option value="ENTRADA"> ENTRADA </option>
          <option value="SAÍDA"> SAÍDA </option>
        </select>
        <br>
    </form>    
    <button class="btn btn-primary" ng-click="vm.createTransact()" >Movimentar </button> 
  </table>
</div>

<h1>Movimentação de Estoque</h1>
<div class="form-container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Produto</th>
                <th scope="col">Tipo de Movimento</th>
                <th scope="col">Qtd</th>
              </tr>
            </thead>
            <tbody ng-repeat="x in vm.lista_back track by x._id">
              <tr>
                <td>{{x.date}}</td>
                <td>{{x.name}}</td>
                <td>{{x.type}}</td>
                <td>{{x.quantity}}</td>
                <td scope="col"><button class="btn btn-primary" ng-click="vm.DeleteTransaction(x._id)">Delete </button><td>
              </tr>
            </tbody>
          </table>
</div>


