<div class= "form-container">
    <h2> Movimentar Estoque </h2>
    <table class="table">
      <form>
        <div class="form-group">
          <label for="Produto">Produto</label>
          <input type="text" class="form-control" id="Produto" ng-model="vm.transact.productId"readonly ><br>
          <label for="Quantidade">Quantidade</label>
          <input type="number" class="form-control" id="Quantidade" ng-model="vm.transact.quantity"><br>
          <label for="Tipo"> Tipo </label>
          <select class ="form-control" id="tipo" ng-model="vm.transact.transact">
            <option selected disabled value="selecione"> -SELECIONE- </option>
            <option value="ENTRADA"> ENTRADA </option>
            <option value="SAÍDA"> SAÍDA </option>
          </select>
          <br>
      </form>    
      <button class="btn btn-success" ng-click="vm.createTransact()" >Movimentar </button> 
    </table>
  </div>